 <table border="1">
                <thead>
                    <tr>
                        <th>Stats for SMU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Latest Price</td>
                        <td><%=latestPrice_SMU%></td>
                    </tr>
                    <tr>
                        <td>Current Highest Bid</td>
                        <td><%=highestBidPrice_SMU%></td>
                    </tr>
                    <tr>
                        <td>Current Lowest Ask</td>
                        <td><%=lowestAskPrice_SMU%></td>
                    </tr>
                </tbody>
            </table>

            <br/><br/>

            <table border="1">
                <thead>
                    <tr>
                        <th>Stats for NUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Latest Price</td>
                        <td><%=latestPrice_NUS%></td>
                    </tr>
                    <tr>
                        <td>Current Highest Bid</td>
                        <td><%=highestBidPrice_NUS%></td>
                    </tr>
                    <tr>
                        <td>Current Lowest Ask</td>
                        <td><%=lowestAskPrice_NUS%></td>
                    </tr>
                </tbody>
            </table>

            <br/><br/>

            <table border="1">
                <thead>
                    <tr>
                        <th>Stats for NTU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Latest Price</td>
                        <td><%=latestPrice_NTU%></td>
                    </tr>
                    <tr>
                        <td>Current Highest Bid</td>
                        <td><%=highestBidPrice_NTU%></td>
                    </tr>
                    <tr>
                        <td>Current Lowest Ask</td>
                        <td><%=lowestAskPrice_NTU%></td>
                    </tr>
                </tbody>
            </table>

    <hr/>
    Functions available:<br/>
    <ul>
        <li><a href="buy">Buy</a></li>
        <li><a href="sell">Sell</a></li>
        <li><a href="logout">Log out</a></li>
        <li><a href="current">Current stats</a></li>
        <li><a href="viewOrders">Unfulfilled orders</a></li>
    </ul>